<div class="row justify-content-center align-items-center">
    <form class="card">
        <div class="card-body">
            <h5 class="card-title">Número en LCD</h5>
            <mat-form-field class="input-container">
                <input matInput placeholder="Ingrese los datos (tamaño, valor)" [(ngModel)]="_data" [ngModelOptions]="{standalone: true}">
                <mat-hint align="start">
                    <strong>Ejemplo: 2,12345</strong>
                </mat-hint>
            </mat-form-field>
            <div class="action">
                <button mat-raised-button color="primary" (click)="printLCDNumber()">Imprimir</button>
            </div>
        </div>
    </form>
</div>