form {
    width: 70%;
    max-height: 80vh;
    overflow: auto;
}

.input-container {
    width: 100%;
}

div.action {
    text-align: right;
}

div.main {
    height: 100vh;
    width: 100%;
    margin: 0;
}

.hidden {
    display: none;
}

span.character {
    display: inline-block;
    width: 7px;
}

.line {
    height: auto;
    line-height: 1.2;
}

.line:first-child,
.line:last-child,
.line.middle {
    line-height: 0;
}

.digit {
    display: inline-block;
}

.number-figure {
    margin-bottom: 15px;
}